<div id="post_show_content" 
		class="wrapper_padding">
			<header>
		<p class="date"><%= @post.created_at.strftime("%A, %b %d") %></p>
				<h1><%= @post.title %></h1>
			</header>
			<br>
			<div id="content">
				<%= simple_format @post.content %>
			</div>

			<div id="sharebox">
				<p3>Share The DO List</p>
				<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @Seanmcraig - &amp;url=<%=url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>

				<a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%= @post.title %> by @Seanmcraig - &amp;url=<%=url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>

				<a onclick="javascript:window.open('http://plus.google.com/share?url=<%= @post.title %> by @Seanmcraig - &amp;url=<%=url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
